<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}FunnyTrip{% endblock %}</title>
    {% block stylesheets %}


        {# Theme Bootstrap Flatly #}
        {#<link rel="stylesheet" href="{{ asset('css/flatly.css') }}">#}


        {# Theme Bootstrap Yeti #}
        <link rel="stylesheet" href="{{ asset('css/yeti.css') }}">

        <link rel="icon" type="image/png" href="{{ asset('images/sportive-car.png') }}">

    {% endblock %}

    {% block javascripts %}
        {# Ajoutez ces javascripts si vous comptez vous servir des
        fonctionnalités du bootstrap Twitter #}
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
                integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
                integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
                crossorigin="anonymous"></script>

    {% endblock %}

</head>
<body>

<div class="container">
    <div id="header" class="hero-unit">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ path('FunnyTrip_accueil') }}"> FunnyTrip</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <li><a class="nav-link" href="{{ path('annonce') }}"> {{ 'Liste des annonces'|trans }}</a></li>
                    <li><a class="nav-link" href="{{ path('annonce_new') }}"> {{ 'Ajouter une annonce'|trans }}</a></li>
                    <li><a class="nav-link" href="{{ path('funny_trip_trajet') }}"> {{ 'Mes Annonces'|trans }}</a></li>
                    <li><a class="nav-link"
                           href="{{ path('funny_trip_reservation') }}"> {{ 'Mes Réservations'|trans }}</a></li>
                    {% else %}
                        <li><a class="nav-link" href="{{ path('annonce') }}"> {{ 'Liste des annonces'|trans }}</a></li>
                    {% endif %}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <li><a class="nav-link" href="{{ path('fos_user_profile_edit') }}"> {{ app.user.username }}</a>
                        </li>
                        <li><a class="nav-link" href="{{ path('fos_user_security_logout') }}"> {{ 'Déconnexion'|trans }}</a></li>
                    {% else %}
                        <li><a class="nav-link" href="{{ path('fos_user_registration_register') }}">{{ 'Inscription'|trans }}</a></li>
                        <li><a class="nav-link" href="{{ path('fos_user_security_login') }}">{{ 'Connexion'|trans }}</a></li>
                    {% endif %}
                </ul>


            </div>
        </nav>
        <div>
            <div id="content" class="span9">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <hr>
        <footer>
            <p><strong>Lourdelet Martin & Balança Camille & Levrard Martin </strong>©</p>
        </footer>
    </div>
</body>
</html>