{% extends "FunnyTripBundle::layout.html.twig" %}
{% block title %}
    Liste des annonces - {{ parent() }}
{% endblock %}
{% block FunnyTrip_body %}
    <h2>Liste des annonces</h2>
    <ul>
        {% for annonce in annonces %}
            <li>
                <a href="{{ path('FunnyTrip_voir', {'id': annonce.id}) }}">{{
                    annonce.titre }}</a>
                par {{ annonce.auteur }},
                le {{ annonce.date|date('d/m/Y') }} </li>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %} </ul>
{% endblock %}