{% extends "FunnyTripBundle::layout.html.twig" %}

{% block title %}
    Mes Annonces | {{ parent() }}
{% endblock %}

{% block body %}

    <div class="page-header">
        <br>
        <h2>{{ 'My Annonces'|trans }}</h2>
        <hr/>
    </div>

    <div class="row">
        {% for annonce in annonces %}
            <div class="col-sm-6">
                <br>
                <div class="card">
                    <div class="card-block">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="card-title">{{ annonce.villeDepart }} -> {{ annonce.villeArrivee }}</h3>
                            <small>Publié le {{ annonce.date| date('d/m/Y') }}</small>
                        </div>

                        <p class="card-text">Le {{ annonce.dateDepart| date('l  d F  Y') }}
                            à {{ annonce.dateDepart| date('H:i') }}</p>
                        <p><span class="badge badge-default badge-pill">{{ annonce.prix }} €</span>
                            <small> | {{ annonce.nbPlaceMax - annonce.nbPlacePrise }} siège(s)</small>
                        </p>
                        <a href="{{ path('annonce_show', { 'id': annonce.id }) }}" class="btn btn-primary">Voir</a>
                        <a href="{{ path('annonce_edit', { 'id': annonce.id }) }}" class="btn btn-warning">Modifier</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}