{% extends "FunnyTripBundle::layout.html.twig" %}

{% block title %}
    Annonces | {{ parent() }}
{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <br>
                <h2>Liste des annonces</h2>
                <hr/>
            </div>
        </div>

        <!-- FILTERING -->
        <div class="col-md-12">
            <div id="filters" class="collapse">

                <form class="well" action="{{ path('annonce') }}" method="get">
                    <div class="row">

                        <div class="col-md-6">{{ form_row(filterForm.dateDepart) }}</div>

                        <div class="col-md-6"></div>

                        <div class="col-md-6">{{ form_row(filterForm.villeDepart) }}</div>


                        <div class="col-md-6">{{ form_row(filterForm.villeArrivee) }}</div>


                        <div class="col-md-6">{{ form_row(filterForm.prix) }}</div>


                        <div class="col-md-6">{{ form_row(filterForm.nbPlaceMax) }}</div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-info" name="filter_action" value="filter">
                                    Rechercher
                                </button>
                                <button type="submit" class="btn btn-danger" name="filter_action" value="reset">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END FILTERING -->

        <div class="col-md-3">
            <a class="btn dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters">
                Rechercher
                <span class="caret"></span>
            </a>
        </div>


        <div class="col-md-12">
            {%- if form_errors(filterForm) %}
                <div class="alert alert-block alert-error fade in form-errors">
                    {{ form_errors(filterForm) }}
                </div>
            {% endif %}
        </div>

    </div> <!-- /#top -->


    <div class="row">
        <div class="col-md-12">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>



    {#----------- Listing des annonces -------------#}

    <div class="row">
        {% for annonce in annonces %}
            <div class="col-sm-6">
                <br>
                <div class="card">
                    <div class="card-block">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="card-title">{{ annonce.villeDepart }} -> {{ annonce.villeArrivee }}</h3>
                            <small>Publié par {{ annonce.user }} le {{ annonce.date| date('d/m/Y') }}</small>
                        </div>

                        <p class="card-text">Le {{ annonce.dateDepart| date('l  d F  Y') }}
                            à {{ annonce.dateDepart| date('H:i') }}</p>
                        <p><span class="badge badge-default badge-pill">{{ annonce.prix }} €</span>
                            <small> | {{ annonce.nbPlaceMax - annonce.nbPlacePrise }} siège(s) restant(s)</small>
                        </p>
                        <a href="{{ path('annonce_show', { 'id': annonce.id }) }}" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {#----------- Fin Listing des annonces -------------#}

{% endblock %}

