{% extends "FunnyTripBundle::layout.html.twig" %}

{% block title %}
    Annonce {{ annonce.id }} | {{ parent() }}
{% endblock %}

{% block body %}

    <div id="top" class="row">
        <div class="page-header col-md-12">
            <br>
            <h2> De <strong>{{ annonce.villeDepart }}</strong> à <strong>{{ annonce.villeArrivee }}</strong>,
                le {{ annonce.dateDepart|date('l  d F  Y à H:i') }}</h2>

            <hr/>
        </div>
    </div>
    <br>
    <div class="row">

        <div class="col-md-4">
            <p><strong>Conducteur :</strong></p>
            <p>
                {{ annonce.user }}
            </p>

        </div>
        <div class="col-md-3">
            <p><strong>Prix par place :</strong> <h5>{{ annonce.prix }} €</h5></p>

        </div>
        {% if is_granted("IS_AUTHENTICATED_FULLY") and not mine and nb_places > 0  %}
            <div class="col-md-5">
                <a class="btn btn-default" href="{{ path('annonce') }}">
                    <- Retour à la liste
                </a>
                <a class="btn btn-success"
                   href="{{ path('funnytrip_new_reservation', { 'id':  annonce.id }) }}">
                    Réserver
                </a>
            </div>

        {% elseif is_granted("IS_AUTHENTICATED_FULLY") and mine%}
            <div class="col-md-5">
                <a class="btn btn-default" href="{{ path('annonce') }}">
                    <- Retour à la liste
                </a>
                <a class="btn btn-warning" href="{{ path('annonce_edit', { 'id':  annonce.id }) }}">
                    Modifier
                </a>
                <form action="{{ path('annonce_delete', { 'id': annonce.id }) }}" method="post"
                      style="display: inline-block">
                    <input type="hidden" name="_method" value="DELETE"/>
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit"
                            onclick="return confirm('Êtes vous sûr de vouloir la supprimer ?');">
                        Supprimer
                    </button>
                </form>
            </div>
        {% elseif is_granted("IS_AUTHENTICATED_FULLY") and nb_places == 0 %}

            <div class="col-md-5">
                <a class="btn btn-default" href="{{ path('annonce') }}">
                    <- Retour à la liste
                </a>
                <a class="btn btn-success disabled">
                    Réserver
                    <small>(Plus de place...)</small>
                </a></div>

        {% else %}
            <div class="col-md-5">
                <a class="btn btn-default" href="{{ path('annonce') }}">
                    <- Retour à la liste
                </a>
                <a class="btn btn-success disabled">
                    Réserver
                    <small>(Identifiez vous !)</small>
                </a></div>
        {% endif %}
        <div class="col-md-4">
            <p><strong>Nombre de places restantes: </strong><h6>{{ nb_places }}
                place(s)</h6></p>
        </div>
        <div class="col-md-8">
            <p><strong>Description :</strong></p>
            <p>
                {{ annonce.description }}
            </p>

        </div>
    </div>

    <div class="row embed-responsive embed-responsive-16by9" id="maps"></div>

    <script src="http://maps.google.com/maps/api/js?v=3&amp"></script>
    <script src="{{ asset('js/gmaps.js') }}"></script>

    <script>

        /**
         * Initialisation de la map google
         */
        var map = new GMaps({
            div: '#maps',
            lat: 47.1302,
            lng: 1.3312,
            zoom: 6,
        });

        /**
         * Récupération des villes
         * @type {string}
         */
        var villeD = "{{ annonce.villeDepart }}";
        var villeA = "{{ annonce.villeArrivee }}";

        /**
         * Fonction qui génère l'iténéraire
         */
        function route() {
            map.drawRoute({
                origin: [map.markers[0].position.lat(), map.markers[0].position.lng()],
                destination: [map.markers[1].position.lat(), map.markers[1].position.lng()],
                travelMode: 'driving',
                strokeColor: '#039be5',
                strokeOpacity: 0.6,
                strokeWeight: 4
            });
            map.fitZoom();
            map.setCenter((map.markers[0].position.lat() + map.markers[1].position.lat()) / 2, (map.markers[0].position.lng() + map.markers[1].position.lng()) / 2);

        }
        ;

        /**
         * Appel Ajax Geocode pour traduire un nom de ville en sa position sur la map via un markers et affichage de l'itinéraire
         */
        GMaps.geocode({
            address: villeD,
            callback: function (results, status) {
                if (status == 'OK') {
                    var latlng1 = results[0].geometry.location;
                    map.addMarker({
                        lat: latlng1.lat(),
                        lng: latlng1.lng()
                    });
                }
            },
        });

        GMaps.geocode({
            address: villeA,
            callback: function (results, status) {
                if (status == 'OK') {
                    var latlng2 = results[0].geometry.location;
                    map.addMarker({
                        lat: latlng2.lat(),
                        lng: latlng2.lng()
                    });
                    // On affiche l'iteneraire
                    route();
                }
            },
        });

    </script>
{% endblock %}

